services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    environment:
      - PYTHONUNBUFFERED=1
    restart: on-failure
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "5174:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    restart: on-failure

  reverse-proxy:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - frontend

  cron-worker:
    build:
      context: ./backend
      dockerfile: Dockerfile.cron.dev
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    restart: on-failure
    stdin_open: true
    tty: true